:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.account-container {
    min-height: 500px;
    min-width: 220px;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.account-container > h2 {
    align-self: center;
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.account-form input[type="text"], input[type="password"] {
    min-height: 1.5rem;
}

.account-form * {
    border-radius: 0.2rem;
}

.form-email-container {
    display: flex;
    flex-direction: column;
}

.account-form > * > * {
    border: 0.5px solid black;
}

.form-bigtext-container {
    display: flex;
    flex-direction: column;
}

.form-bigtext-container > input {
    font-size: 1rem;
}

.form-smalltext-container {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}

.form-password-container {
    display: flex;
    flex-direction: column;
}

.form-gender-container {
    display: flex;
    gap: 0.2rem;
}

.form-gender-container > * {
    border: none;
    font-size: 0.8rem;
}

.form-gender-container > input {
    font-size: 0.5rem;
}

.form-gender {
    display: flex;
    flex-direction: column;

}

.form-button-container {
    display: flex;
    justify-content: center;

}

.form-button {
    justify-self: center;
    min-width: 35%;
    min-height: 1.75rem;
}

.form-button:hover {
    cursor: pointer;
    background-color: grey;
}

.required-fields {
    font-size: 0.75rem;
}

.error-msg {
    color: red;
}
